/*importing google fonts lato, owsald, sour-gummy*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }

  .oswald-rogue-font {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


  .sour-gummy-my-superfont {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* setting the border */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #34a4b3;
    font-family: "Lato", "sour", serif;
    text-wrap: balance;

}


header {
    color: blue;
    background-color: rgb(96, 169, 221);
    padding: 0 2rem;
    /* to make it "stick" on top when users scroll*/
  /*  position: fixed; */
    width: 100%;
    /*maybe we need z-index: 99; but we will see later on*/
    box-shadow: 0 3px 3px #297781; 
    text-decoration: none;
}


main {
  color: rgb(255, 94, 0);
/*  background-color: yellowgreen; */
  flex: 1 0 auto;
  
}

#landing_page {
  font-size: 100%;
}

#main_menu_list {
  text-decoration: none;
  color: initial;
  letter-spacing: 2px;
  list-style-type: none;
  margin-bottom: 0em;
  justify-content: space-evenly;
  text-size-adjust: 80%;
  text-wrap: balance;
}

h1 {
  font-family: "oswald" sans-serif;
  text-align: center;
  letter-spacing: 3px;
  color: #1316a7;
  text-decoration: none;

}


#main_picture {
  height: 100%;
  width: 100%;
  background: url(../images/cooked_food_1.jpg) no-repeat center center/cover;
  background-color: #297781;
  color: black;
  position: relative;
}

#text_over_picture {
  background-color: rgba(49, 60, 43, 0.7);
  font-size: 130%;
  position: absolute;
  top: 15%;
  padding-left: 5%;
  width: 75%;
  color: rgb(214, 252, 0);
}

#text_over_picture2 {
  background-color: rgba(49, 60, 43, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 45%;
  margin-left: 10%;
/*  padding-right: 20%;
  padding-left: 20%; */
  width: auto;
  color: rgb(214, 252, 0);
}

#text_over_picture3 {
  background-color: rgba(49, 60, 43, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 15%;
  margin-right: 10%;
  padding-left: 5%;
/*  padding-right: 20%;
  padding-left: 20%; */
  width: auto;
  color: rgb(214, 252, 0);
}

br {
  box-shadow: 0 9px 9px #3a565a;
}


footer {
    color: green;
    background-color: rgb(47, 148, 221);
}

#social-media-platforms {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 90%;
}

@media screen and (max-width: 768px) {
  #main_menu_list {
    color: rgb(63, 63, 212);
    background-color: rgb(96, 169, 221);
    padding: 5 0rem;
    /* to make it "stick" on top when users scroll*/
  /*  position: fixed; */
    width: 100%;
    /*maybe we need z-index: 99; but we will see later on*/
    /* box-shadow: 0 9px 9px #297781; */
    position: relative;
    display: flex;
    justify-content: space-around;
  /*  height: auto; */
    font-size: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #landing_page_title {
    font-size: 160%;
  }
}


@media screen and (min-width: 768px) {
    #main_menu_list {
      color: rgb(72, 72, 181);
      background-color: rgb(96, 169, 221);
      padding: 30 5rem;
      /* to make it "stick" on top when users scroll*/
      position: fixed;
      width: 100%;
      /*maybe we need z-index: 99; but we will see later on*/
      /* box-shadow: 0 9px 9px #297781; */
      position: relative;
      display: flex;
      justify-content: space-evenly;
      height: auto;
    }
    #item_food {
      padding: 1% 5%;

    }
    #item_contact {
      padding: 1% 1%;

    }
    #item_loyalty {
      padding: 1% 1%;

    }
    #item_about {
      padding: 1% 5%;

    } 
  #social-media-platforms {
    font-size: 150%;
  } 

  #main_menu_list {
    font-size: 90%;
  }
}

@media screen and (min-width: 992px) {
  #main_menu_list a:hover {
    border-bottom: 3px solid #c50ae2;
  }
}