/*importing google fonts lato, owsald, sour-gummy*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }

  .oswald-rogue-font {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


  .sour-gummy-my-superfont {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* setting the border */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #34a4b3;
    font-family: "Lato", "sour", serif;

}


header {
    color: blue;
    background-color: rgb(97, 125, 147);
    padding: 0 4rem;
    /* to make it "stick" on top when users scroll*/
    position: fixed;
    width: 100%;
    /*maybe we need z-index: 99; but we will see later on*/
    box-shadow: 0 3px 3px #205a62;
}

h1 {
  font-family: "oswald" sans-serif;
  text-align: center;

}

main {
    color: blue;
    background-color: yellowgreen;
    flex: 1 0 auto
}

br {
  box-shadow: 0 9px 9px #3a565a;
}

footer {
    color: green;
    background-color: violet;
}
